<div class="col-md-6">
    <table class="table table-striped">
      <tr>
        <th>TestName</th>
        
        <th>TestId</th>
        </tr>
    <tbody>
        <tr *ngFor="let diagnosticCentre of diagnosticCentres">
          <td>{{diagnosticCentre.testName}}</td>
          <td>{{diagnosticCentre.centreName}}</td>
          <td>{{diagnosticCentre.testId}}</td>
          <td><button class="btn btn-danger" (click)="deleteTest(diagnosticCentre)"> Delete</button></td>
        </tr> 
    </tbody>
      </table>
  </div>